/* body {
    background-color: orange;

}

p {
    color:darkred;
}

a {
    color: black;
    font-weight: bold;
} */

#important-paragraph {
   
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.check {
    color: orange;
    font-style: italic;
    font-weight: bold;
}

li {
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px dashed brown;
    border-radius: 20px;
    margin:10px;
    padding: 10px;
}